{% spaceless %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Everticals {% block title %}Admin{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="e-verticals Admin Panel" name="description"/>
        <meta content="Bodaclick.com" name="author"/>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

        {% stylesheets filter='cssrewrite,?yui_css'
        'bundles/evtintranet/assets/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/evtintranet/assets/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/evtintranet/assets/plugins/uniform/css/uniform.default.css'
        'bundles/evtintranet/assets/plugins/gritter/css/jquery.gritter.css'
        'bundles/evtintranet/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'
        'bundles/evtintranet/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css'
        'bundles/evtintranet/assets/plugins/jqvmap/jqvmap/jqvmap.css'
        'bundles/evtintranet/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css'
        'bundles/evtintranet/assets/plugins/bootstrap-select/bootstrap-select.min.css'
        'bundles/evtintranet/assets/plugins/select2/select2.css'
        'bundles/evtintranet/assets/plugins/select2/select2-metronic.css'
        'bundles/evtintranet/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'
        'bundles/evtintranet/assets/css/style-metronic.css'
        'bundles/evtintranet/assets/css/style.css'
        'bundles/evtintranet/assets/css/style-responsive.css'
        'bundles/evtintranet/assets/css/plugins.css'
        'bundles/evtintranet/assets/css/pages/tasks.css'
        %}
        <link href="{{ media_domain }}{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}

        <link href="{{ media_domain }}{{ asset('bundles/evtintranet/assets/css/themes/default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{ media_domain }}{{ asset('bundles/evtintranet/assets/css/print.css') }}" rel="stylesheet" type="text/css" media="print"/>
        <link href="{{ media_domain }}{{ asset('bundles/evtintranet/assets/css/custom.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END THEME STYLES -->
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ media_domain }}{{ asset('favicon.ico') }}" />
        {% javascripts filter='cssrewrite,?yui_js'
        'bundles/evtintranet/assets/plugins/jquery-1.10.2.min.js'
        %}
        <script type="text/javascript" src="{{ media_domain }}{{ asset_url }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/lib/angular.min.js') }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/lib/angular-mocks.js') }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/lib/angular-animate.min.js') }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/lib/angular-route.min.js') }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/lib/angular-resource.min.js') }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/app.js') }}"></script>
        <script src="{{ asset('bundles/evtintranet/assets/scripts/angular/services.js') }}"></script>
        {% endjavascripts %}
    </head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
    <body class="page-header-fixed page-sidebar-fixed page-footer-fixed page-header-fixed-mobile">
        {% block header %}{% endblock %}
        <div class="clearfix"></div>
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="assets/plugins/respond.min.js"></script>
        <script src="assets/plugins/excanvas.min.js"></script>
        <![endif]-->

        {% javascripts filter='cssrewrite,?yui_js'
        'bundles/evtintranet/assets/plugins/jquery-migrate-1.2.1.min.js'
        'bundles/evtintranet/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap/js/bootstrap.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
        'bundles/evtintranet/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'bundles/evtintranet/assets/plugins/jquery.blockui.min.js'
        'bundles/evtintranet/assets/plugins/jquery.cokie.min.js'
        'bundles/evtintranet/assets/plugins/uniform/jquery.uniform.min.js'
        'bundles/evtintranet/assets/plugins/flot/jquery.flot.min.js'
        'bundles/evtintranet/assets/plugins/flot/jquery.flot.resize.min.js'
        'bundles/evtintranet/assets/plugins/flot/jquery.flot.categories.min.js'
        'bundles/evtintranet/assets/plugins/jquery.pulsate.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap-daterangepicker/moment.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap-daterangepicker/daterangepicker.js'
        'bundles/evtintranet/assets/plugins/gritter/js/jquery.gritter.js'
        'bundles/evtintranet/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'
        'bundles/evtintranet/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js'
        'bundles/evtintranet/assets/plugins/jquery.sparkline.min.js'
        'bundles/evtintranet/assets/plugins/flot/jquery.flot.min.js'
        'bundles/evtintranet/assets/plugins/flot/jquery.flot.stack.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap-select/bootstrap-select.min.js'
        'bundles/evtintranet/assets/plugins/select2/select2.min.js'
        'bundles/evtintranet/assets/plugins/bootstrap-daterangepicker/daterangepicker.js'
        'bundles/evtintranet/assets/plugins/bootstrap-daterangepicker/moment.min.js'
        'bundles/evtintranet/assets/scripts/core/app.js'
        'bundles/evtintranet/assets/scripts/custom/index.js'
        'bundles/evtintranet/assets/scripts/custom/tasks.js'
        'bundles/evtintranet/assets/scripts/custom/charts.js'
        'bundles/evtintranet/assets/scripts/custom/components-dropdowns.js'
        'bundles/evtintranet/assets/scripts/custom/components-pickers.js'
        'bundles/evtintranet/assets/scripts_custom/hide-address-bar.js'
        %}
        <script type="text/javascript" src="{{ media_domain }}{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            jQuery(window).load(function() {
                App.init(); // initlayout and core plugins
                Index.init();
                Charts.initCharts();
                Tasks.initDashboardWidget();
                ComponentsDropdowns.init();
                ComponentsPickers.init();
            });
        </script>
        <!-- END JAVASCRIPTS -->
        {% block javascripts %}{% endblock %}
        {% include '::analytics_tag.html.twig' %}
    </body>
<!-- END BODY -->
</html>
{% endspaceless %}