{% spaceless %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Everticals - {% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="e-verticals Admin Panel" name="description"/>
    <meta content="Bodaclick.com" name="author"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% stylesheets filter='cssrewrite,?yui_css'
        'bundles/evtintranet/assets/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/evtintranet/assets/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/evtintranet/assets/plugins/fancybox/source/jquery.fancybox.css'
        'bundles/evtintranet/assets/plugins/revolution_slider/css/rs-style.css'
        'bundles/evtintranet/assets/plugins/revolution_slider/rs-plugin/css/settings.css'
        'bundles/evtintranet/assets/plugins/bxslider/jquery.bxslider.css'
        'bundles/evteae/assets/css/style-metronic.css'
        'bundles/evteae/assets/css/style.css'
        'bundles/evteae/assets/css/style-responsive.css'
        'bundles/evteae/assets/css/prices.css'
        'bundles/evteae/assets/css/green.css'
    %}
    <link href="{{ media_domain }}{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
   <link rel="shortcut icon" href="{{ media_domain }}{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="header navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
		    <a class="navbar-brand logo-v1" href="/">
				<img src="{{ asset('bundles/evteae/assets/img_custom/logo_mid.png') }}" id="logoimg" alt="">
	        </a>
                    <button class="navbar-toggle btn navbar-btn collapsed" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
		</div>
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
    			<li><a href="{{ path('evt_intranet_home_index', { '_role': app.session.get('_role') }) }}" >Manager Admin</a></li>
			</ul>                           
		</div>
		<!-- BEGIN TOP NAVIGATION MENU -->
	</div>
</div>       

<div class="page-container">
    {% block content %}{% endblock %}
</div>

<div class="copyright"><div class="container">2014 &copy; E-Verticals</div></div>

{% javascripts filter='cssrewrite,?yui_js'
    'bundles/evtintranet/assets/plugins/jquery-1.10.2.min.js'
    'bundles/evtintranet/assets/plugins/jquery-migrate-1.2.1.min.js'
    'bundles/evtintranet/assets/plugins/bootstrap/js/bootstrap.min.js'
    'bundles/evtintranet/assets/plugins/back-to-top.js'
    'bundles/evtintranet/assets/plugins/fancybox/source/jquery.fancybox.pack.js'
    'bundles/evtintranet/assets/plugins/hover-dropdown.js'
    'bundles/evtintranet/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js'
    'bundles/evtintranet/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js'
%}
<script type="text/javascript" src="{{ media_domain }}{{ asset_url }}"></script>
{% endjavascripts %}

<!--[if lt IE 9]>
<script src="bundles/evtintranet/assets/plugins/respond.min.js"></script>  
<![endif]-->   

{% javascripts filter='cssrewrite,?yui_js'
    'bundles/evtintranet/assets/plugins/bxslider/jquery.bxslider.js'
    'bundles/evteae/assets/scripts/app.js'
    'bundles/evteae/assets/scripts/index.js'
%}
<script type="text/javascript" src="{{ media_domain }}{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    jQuery(document).ready(function() {
        App.init();    
        App.initBxSlider();
        Index.initRevolutionSlider();                    
    });
</script>
</body>
</html>
{% endspaceless %}