{% extends 'EVTIntranetBundle::layout.html.twig' %}
{% block content %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
{{ knp_menu_render('EVTIntranetBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'EVTIntranetBundle:Menu:metronic_menu.html.twig'}) }}
    <!-- END SIDEBAR MENU -->
    </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">{{ "stats"|trans }}</h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-bar-chart-o"></i>
                            <a href="/">{{ "stats"|trans }}</a>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        {{ "search"|trans }}
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="" method="get" class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ "vertical"|trans }}</label>
                                        <div class="col-md-8">
                                            {% include 'EVTIntranetBundle:Filters:vertical.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ "created.at"|trans }}</label>
                                        <div class="col-md-8">
                                            {% include 'EVTIntranetBundle:Filters:dateCreateLead.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-8 col-md-4">
                                        <button type="submit" class="btn green">{{ "Submit"|trans }}</button>
                                        <button type="button" class="btn default">{{ "Reset"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>{{ "Leads"|trans }} {{ "from"|trans }} {{ statsLeads.from_date|date("d/m/Y") }} {{ "to"|trans }} {{ statsLeads.to_date|date("d/m/Y") }}
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_5" style="height:350px;">
                    </div>
                </div>
                <script>
                    var statsLeadRawData = {{ statsLeads.data|raw }};
                    var statsLeadFromDate = "{{ statsLeads.from_date|raw }}";
                    var statsLeadToDate = "{{ statsLeads.to_date|raw }}";
                </script>
            </div>

            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}