{% extends "EVTEAEBundle:Email:Base.Mail.twig" %}

{% block title %}{% trans %}title.new.lead.user{% endtrans %}{% endblock %}

{% block content %}
<table class="container content" align="center">
    <tr>
        <td>
            <table class="row note">
                <tr>
                    <td class="wrapper last">
                        <h4>{% trans %}body.new.lead.manager{% endtrans %}</h4>
                        <span class="devider"></span>
                        <p>Hola {{ personal_info.name }}, bienvenido a {{ vertical.domain }}</p>
                        <span class="devider"></span>
                        <!-- BEGIN: Note Panel -->
                        <table class="twelve columns" style="margin-bottom: 10px">
                            <tr>
                                <td>{% trans %}lead.event.date{% endtrans %}</td>
                                <td>{% trans %}lead.event.type{% endtrans %}</td>
                                <td>{% trans %}lead.event.location{% endtrans %}</td>
                                <td>{% trans %}lead.observations{% endtrans %}</td>
                                <td>{% trans %}lead.date{% endtrans %}</td>
                            </tr>
                            <tr>
                                <td>{{ event.date | date("d/m/Y") }}</td>
                                <td>{{ event.type.type }}</td>
                                <td>{{ event.location.admin_level1  }} - {{ event.location.admin_level2 }}</td>
                                <td>{{ informatiion_bag.parameters.observations | default('') }}</td>
                                <td>{{ created_at | date("d/m/Y") }}</td>
                            </tr>
                        </table>
                        <p>En breve nos pondremos en contacto contigo.</p>
                        <!-- END: Note Panel -->
                    </td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}