{% extends 'EVTIntranetBundle::layout.html.twig' %}
{% block pageContent %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">{{ "leads" |trans}}</h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-exchange"></i>
                            <a href="{{ path('evt_intranet_lead_list') }}">{{ "leads" |trans}}</a>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box grey">
                        <div class="portlet-title">
                            <div class="caption">{{ "leads"|trans }}</div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            {% if leads|length > 0 %}
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                    <tr>
                                        <th>{{ "created.at"|trans }}</th>
                                        <th>{{ "vertical"|trans }}</th>
                                        <th>{{ "provider"|trans }}</th>
                                        <th>{{ "name"|trans }}</th>
                                        <th>{{ "email"|trans }}</th>
                                        <th>{{ "phone"|trans }}</th>
                                        <th>{{ "event.type"|trans }}</th>
                                        <th>{{ "event.date"|trans }}</th>
                                        <th>{{ "event.location"|trans }}</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for lead in leads %}
                                        <tr {% if lead.read_at is not defined %}class="success"{% endif %}>
                                            <td>{{ lead.created_at|date("d/m/Y H:i") }}</td>
                                            <td>{{ lead.showroom.vertical.domain }}</td>
                                            <td>{{ lead.showroom.provider.name }}</td>
                                            <td>{{ lead.personal_info.name }}</td>
                                            <td><a href="mailto:{{ lead.email.email }}"
                                                   target="_blank">{{ lead.email.email }}</a></td>
                                            <td>
                                            {% if lead.showroom.type > 1 %}
                                            <a href="tel:{{ lead.personal_info.phone }}"
                                                   target="_blank">{{ lead.personal_info.phone }}</a>
                                            {% else %}{% include 'EVTIntranetBundle::viewMore.html.twig' %}{% endif %}
                                            </td>
                                            <td>
                                            {% if lead.showroom.type > 1 %}
                                            {{ lead.event.type.name }}
                                            {% else %}{% include 'EVTIntranetBundle::viewMore.html.twig' %}{% endif %}
                                            </td>
                                            <td>{{ lead.event.date|date("d/m/Y") }}</td>
                                            <td>{{ lead.event.location.admin_level1 }}
                                                ({{ lead.event.location.admin_level2 }})
                                            </td>
                                            <td class="highlight">
                                                <a href="{{ path('evt_intranet_lead_showlead', {'id': lead.id}) }}"
                                                   class="btn default btn-xs green-stripe">
                                                    {% if lead.read_at is not defined %}
                                                        {{ "read"|trans }}
                                                    {% else %}
                                                        {{ "details"|trans }}
                                                    {% endif %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'EVTIntranetBundle::pagination.html.twig' %}
                            {% else %}
                                <div class="note note-info">
                                    <h4 class="block">{{ "no.leads"|trans }}</h4>

                                    <p>{{ "no.leads.for.user"|trans }}.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}