<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            {{ "search"|trans }}
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="" method="get" class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "vertical"|trans }}</label>
                            <div class="col-md-8">
                                {% include 'EVTIntranetBundle:Filters:vertical.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "event.location.level2"|trans }}</label>
                            <div class="col-md-8">
                                <input name="location_level2" type="text" class="form-control" placeholder="Madrid" value="{{ app.request.get('location_level2') }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "event.type"|trans }}</label>
                            <div class="col-md-8">
                                {% set eventsType = {
                                    1:'BIRTHDAY',
                                    2:'ANNIVERSARY',
                                    3:'CHRISTENING',
                                    4:'COMMUNION',
                                    5:'FAMILY_CELEBRATION',
                                    6:'DEBS',
                                    7:'XV_YEARS',
                                    8:'CORPORATE',
                                    9:'GRADUATION',
                                    10:'MEMORIAL',
                                    11:'RETIREMENT',
                                    12:'ENGAGEMENT_PARTY',
                                    13:'PARTY',
                                    14:'CHRISTMAS',
                                    15:'WEDDING',
                                    16:'DIVORCE',
                                    17:'CATERING',
                                    18:'BUFFET',
                                    19:'BAR_MITZVAH',
                                    20:'GENERIC_SPACE',
                                    21:'UNKNOWN'
                                } %}
                                <select name="event_type" class="form-control input-small select2me" data-placeholder="Select...">
                                    <option value="">{{ "all"|trans }}</option>
                                    {% for key, eventType in eventsType %}
                                        <option value="{{ key }}" {% if app.request.get('event_type')==key %}selected{% endif %}>{{ eventType }}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "created.at"|trans }}</label>
                            <div class="col-md-8">
                                {% include 'EVTIntranetBundle:Filters:dateCreateLead.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "provider"|trans }}</label>
                            <div class="col-md-8">
                                {% include 'EVTIntranetBundle:Filters:provider.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "event.location.level1"|trans }}</label>
                            <div class="col-md-8">
                                <input name="location_level1" type="text" class="form-control" placeholder="City" value="{{ app.request.get('location_level1') }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "lead.status"|trans }}</label>
                            <div class="col-md-8">
                                <select name='lead_status' class="form-control input-small select2me" data-placeholder="Select...">
                                    <option value="">{{ "all"|trans }}</option>
                                    <option value="read" {% if app.request.get('lead_status') == 'read' %}selected{% endif %}>{{ "lead.status.read"|trans }}</option>
                                    <option value="unread" {% if app.request.get('lead_status') == 'unread' %}selected{% endif %}>{{ "lead.status.unread"|trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "event.at"|trans }}</label>
                            <div class="col-md-8">
                                {% include 'EVTIntranetBundle:Filters:dateEvent.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-8 col-md-4">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>