{% extends 'EVTIntranetBundle::layout.html.twig' %}
{% block pageContent %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">{{ "lead.detail"|trans }}</h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-exchange"></i>
                            <a href="{{ path('evt_intranet_lead_list', { '_role': app.session.get('_role') }) }}">{{ "leads"|trans }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="{{ path('evt_intranet_lead_showlead', { 'id': lead.id, '_role': app.session.get('_role') }) }}">
                                {{ "lead.detail"|trans }}
                            </a>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box grey">
                        <div class="portlet-title">
                            <div class="caption">{{ "lead.data.detail"|trans }}</div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <td>{{ "created.at"|trans }}</td>
                                    <td class="active">{{ lead.created_at|date("d/m/Y H:i") }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "vertical"|trans }}</td>
                                    <td class="active">{{ lead.showroom.vertical.domain }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "provider"|trans }}</td>
                                    <td class="active">{{ lead.showroom.provider.name }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "name"|trans }}</td>
                                    <td class="active">{{ lead.personal_info.name }}
                                        {{ lead.personal_info.surnames }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "email"|trans }}</td>
                                    <td class="active"><a href="mailto:{{ lead.email.email }}" target="_blank">
                                        {{ lead.email.email }}
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>{{ "phone"|trans }}</td>
                                    <td class="active">
                                    {% if lead.showroom.type > 1 %}
                                    <a href="tel:{{ lead.personal_info.phone }}" target="_blank">
                                        {{ lead.personal_info.phone }}
                                    </a>
                                    {% else %}{% include 'EVTIntranetBundle::viewMore.html.twig' %}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ "event.type"|trans }}</td>
                                    <td class="active">
                                    {% if lead.showroom.type > 1 %}
                                    {{ lead.event.type.name }}
                                    {% else %}{% include 'EVTIntranetBundle::viewMore.html.twig' %}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ "event.date"|trans }}</td>
                                    <td class="active">{{ lead.event.date|date("d/m/Y") }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "event.location"|trans }}</td>
                                    <td class="active">{{ lead.event.location.admin_level1 }}
                                        ({{ lead.event.location.admin_level2 }})
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ "comments"|trans }}</td>
                                    <td class="active">
                                    {% if lead.showroom.type > 1 %}
                                    {{ lead.information_bag.parameters.observations }}
                                    {% else %}{% include 'EVTIntranetBundle::viewMore.html.twig' %}{% endif %}
                                    </td>
                                </tr>
                            </table>
                            <a href="javascript:history.back()" class="btn"><i class="fa fa-chevron-left"></i> Back</a>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}