{% extends 'EVTIntranetBundle::layout.html.twig' %}
{% block pageContent %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">{{ "managers" |trans}}</h3>
                    {% if is_granted('edit', app.request.attributes.get('_route')) %}
                        can edit
                    {% endif %}
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-group"></i>
                            <a href="{{ path('evt_intranet_managers_list', { '_role': app.session.get('_role') }) }}">
                                {{ "managers" |trans}}
                            </a>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                     {% include 'EVTIntranetBundle:Lists:manager_search.html.twig' %}
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box grey">
                        <div class="portlet-title">
                            <div class="caption">{{ "managers"|trans }} ({{ pagination.total_items }})</div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            {% if managers|length > 0 %}
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                    <tr>
                                        <th>{{ "name"|trans }}</th>
                                        <th>{{ "surnames"|trans }}</th>
                                        <th>{{ "username"|trans }}</th>
                                        <th>{{ "phone.contact"|trans }}</th>
                                        <th>{{ "email.contact"|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for manager in managers %}
                                        <tr>
                                            <td>{{ manager.personal_info.name }}</td>
                                            <td>{{ manager.personal_info.surnames }}</td>
                                            <td>{{ manager.username }}</td>
                                            <td>{{ manager.personal_info.phone }}</td>
                                            <td>{{ manager.email.email }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'EVTIntranetBundle::pagination.html.twig' %}
                            {% else %}
                                <div class="note note-info">
                                    <h4 class="block">{{ "no.user.managers"|trans }}</h4>

                                    <p>{{ "no.users"|trans }}.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}