{%  extends '::login.html.twig' %}

{% block content %}
<div class="logo">
    <a href="index.html">
        <img src="{{ asset('bundles/evtintranet/assets/img_custom/logo-e-vertical-104x17.png') }}" alt=""/>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <h3 class="form-title">{{ "email.sent.by.email"|trans }}: <b>{{ email }}</b></h3>

<!-- BEGIN COPYRIGHT -->
    <a href="{{ path('login') }}" >
        {{ "home"|trans }}
    </a>
<div class="copyright">
    2014 &copy; E-Vertical
</div>
<!-- END COPYRIGHT -->
{% endblock %}